{% extends "base.html" %} {% block title %}Delete Item (Admin){% endblock %} {%
block content %}
<div class="container">
  <h1 class="mb-4">Delete Items (Admin)</h1>
  <form method="post" action="{{ url_for('remove_item') }}">
    {% for item in items %}
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        name="item_ids"
        value="{{ item.item_id }}"
        id="item{{ item.item_id }}"
      />
      <label class="form-check-label" for="item{{ item.item_id }}">
        {{ item.name }} - {{ item.category }} - {{ item.price }} TL
      </label>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-danger mt-3">Delete Selected</button>
  </form>
</div>
{% endblock %}
